<div id="login-container" class="flex-row">                       
    <!-- Need Css -->
    <div  id="container-inside-login"class="flex-column">
    <div class="form-container">
        <form class="form flex-column" id="login-form" >
            <input id="username" type="text" placeholder="Username" >
            <input id="pass" type="password" placeholder="  Password" >
            <button class="btn" id="btn-login">Login</button>
            <button class="btn" id="btn-register">Register</button>                                   
        </form>
    </div>

    <div class="form-container">
        <form class="form flex-column hidden-container" id="form-cocktails">
            <input id="cocktailName" type="text" placeholder="Cocktail Name">
            <input id="ingredients" type="text" placeholder="Add Ingredients split by ','" title="Splits Ingredients By ','">
            <input id="image" type="text" placeholder="Add Image URL">
            <button id="btn-admin" class="btn">Add Cocktail</button>                                    
        </form>                                                               
    </div>
</div>
</div>                    
    <!-- In this div I put my cocktail cards--> 
<div id="cards-container" class="flex"></div>
